$color-btn-hover: #000;
$color-btn-pressed: #F2EAE8;
$color-accent-primary: #7295E1;
$color-black: #5E5E60;
$color-gray-darker: #8C868B;
$color-gray-dark: #9F9AA6;
$color-gray-light: #BFB9BD;
$color-gray-active: #CCCBD3;
$color-blue: #3587FE;
$color-bg-gray: #F3EAEE;
$color-bg-light-gray: #FFF9F7;
$color-red: #C07764;
$color-txt-gray: #A19CAC;
$color-white: #FFFAF9