.virtual-list-control {
    position: relative;
    height: 100%;
    background-color: beige;
    overflow-y: scroll;
    overscroll-behavior: none;

    .items-container {
        padding: 0;
        margin: 0;
        width: 100%;
        position: relative;

        .item {
            display: grid;
            align-items: end;
            position: absolute;
            height: 50px;
            width: 100%;
            background-color: aqua;
            margin: 2px;
            color: black;
            margin-bottom: 1px;
            border-bottom: 1px solid black;
            box-sizing: border-box;
        }
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        background-color: black;
        z-index: 10;
    }
}