.virtual-list-control {
    position: relative;
    height: 100%;
    background-color: beige;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: auto 1fr;
    overscroll-behavior: none;
    padding-bottom: 25px;

    .items-container {
        padding: 0;
        margin: 0;
        width: 400px;

        .item {
            display: grid;
            align-items: end;
            position: absolute;
            width: 400px;
            height: 200px;
            background-color: aqua;
            margin: 2px;
            color: black;
            margin-bottom: 1px;
        }
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        background-color: black;
        z-index: 10;
    }
}